{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
  
  {% for item in items %}
    <div class="work-container">
      <a href="{% url 'main:blog_detail' item.pk %}" class="work-title text-body text-decoration-none">{{ item.title }}</a>
      <div class="work-text">
        {{ item.content|truncatewords:50 }}
      </div>

      <div class="author-block">
        <img src="{{ item.author.get_avatar_url }}" class="author-avatar" alt="avatar">
        <div>{{ item.author.first_name }} {{ item.author.last_name }}</div>
      </div>

      {% include "includes/inc_interactions.html" %}
    </div>
  {% endfor %}

</div>
{% endblock %}