{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="work-container">
      <div class="work-title">Произведение</div>
      <div class="work-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis aliquam ligula in viverra.
        Proin nulla nunc, porttitor a libero ac, rutrum blandit purus. Pellentesque et vestibulum elit.
        Vestibulum iaculis ante id ex suscipit posuere. Maecenas ac tortor dolor...
      </div>

      <div class="author-block">
        <img src="https://randomuser.me/api/portraits/men/45.jpg" class="author-avatar" alt="avatar">
        <div>Иванов Иван Иванович</div>
      </div>

      {% include "includes/inc_interactions.html" %}
    </div>
</div>
{% endblock %}