{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="work-container">
      <div class="work-title">Произведение</div>
      <div class="work-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis aliquam ligula in viverra.
        Proin nulla nunc, porttitor a libero ac, rutrum blandit purus. Pellentesque et vestibulum elit.
        Vestibulum iaculis ante id ex suscipit posuere. Maecenas ac tortor dolor...
      </div>

      <div class="author-block">
        <img src="https://randomuser.me/api/portraits/men/45.jpg" class="author-avatar" alt="avatar">
        <div>Иванов Иван Иванович</div>
      </div>

      <div class="interactions d-flex justify-content-center gap-4">
        <a href="/like" class="text-decoration-none like text-dark"><i class="bi bi-heart"></i> 33</a>
        <a href="/comment" class="text-decoration-none comment text-dark"><i class="bi bi-chat"></i> 8</a>
        <a href="/bookmark" class="text-decoration-none fav text-dark"><i class="bi bi-bookmark"></i> 0</a>
      </div>
    </div>
</div>
{% endblock %}