{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <!-- Популярные авторы -->
  <div class="rounded-panel text-center">
    <h5 class="mb-4">Популярные авторы</h5>
    <div class="d-flex justify-content-around flex-wrap">
      {% for author in popular_authors %}
      <div>
        <img src="{{ author.get_avatar_url }}" class="avatar-small" alt="">
        <div class="author-name">
          <a href="{% url 'main:author_profile' author.pk %}" class="text-decoration-none text-dark text-center flex-grow-1">
            {{ author.first_name }} {{ author.last_name }}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Новое и Топ недели -->
  <div class="row">
    <!-- Новое -->
    <div class="col-md-6">
      <div class="rounded-panel">
        <div class="section-title">Новое</div>
        {% for item in recent_publications %}
        <div class="work-entry">
          <img src="{{ item.author.get_avatar_url }}" alt="">
          <div class="work-meta">
            <a href="{% url 'main:stories' %}" class="text-body text-decoration-none">{{ item.title }}</a>
            <small>{{ item.author.first_name }} {{ item.author.last_name }}</small>
          </div>
          <div class="views">{{ item.views_count }} просмотров</div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Топ недели -->
    <div class="col-md-6">
      <div class="rounded-panel">
        <div class="section-title">Топ недели</div>
        {% for item in top_publications %}
        <div class="work-entry">
          <img src="{{ item.author.get_avatar_url }}" alt="">
          <div class="work-meta">
            <a href="{% url 'main:stories' %}" class="text-body text-decoration-none">{{ item.title }}</a>
            <small>{{ item.author.first_name }} {{ item.author.last_name }}</small>
          </div>
          <div class="views">{{ item.views_count }} просмотров</div>
        </div>
        {% endfor %}
      </div>
    </div>
  
  </div>
</div>
{% endblock %}