{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="text-center mb-3">
    <input type="text" class="form-control w-25 mx-auto" placeholder="Поиск">
  </div>

  <div class="tab-content">
    <!-- Поэзия -->
    <div class="tab-pane fade show active" id="poetry">
      <div class="work-card d-flex align-items-center">
        <img src="https://randomuser.me/api/portraits/men/15.jpg" alt="автор" width="50" height="50" class="rounded-circle me-3">
        <div>
          <div class="work-title">
            <a href="{% url 'main:article' %}" class="text-body text-decoration-none">Стих о природе</a>
          </div>
          <div class="work-meta">
            <small>Анатолий Евграфов</small>
          </div>
          <div class="work-meta-1">356 просмотров &nbsp;·&nbsp; 23.12.2024</div>
        </div>
      </div>

      <div class="work-card d-flex align-items-center">
        <img src="https://randomuser.me/api/portraits/men/15.jpg" alt="автор" width="50" height="50" class="rounded-circle me-3">
        <div>
          <div class="work-title">
            <a href="{% url 'main:article' %}" class="text-body text-decoration-none">Стих о природе</a>
          </div>
          <div class="work-meta">
            <small>Анатолий Евграфов</small>
          </div>
          <div class="work-meta-1">356 просмотров &nbsp;·&nbsp; 23.12.2024</div>
        </div>
      </div>

      <div class="work-card d-flex align-items-center">
        <img src="https://randomuser.me/api/portraits/men/15.jpg" alt="автор" width="50" height="50" class="rounded-circle me-3">
        <div>
          <div class="work-title">
            <a href="{% url 'main:article' %}" class="text-body text-decoration-none">Стих о природе</a>
          </div>
          <div class="work-meta">
            <small>Анатолий Евграфов</small>
          </div>
          <div class="work-meta-1">356 просмотров &nbsp;·&nbsp; 23.12.2024</div>
        </div>
      </div>
    </div>
</div>
{% endblock %}