{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="work-container">
      <div class="work-title">{{ item.title }}</div>
      <div class="work-text">
        {{ item.text }}
      </div>

      <div class="author-block">
        <img src="{{ item.author.get_avatar_url }}" class="author-avatar" alt="">
        <div>{{ item.author.last_name }} {{ item.author.first_name }} {{ item.author.surname|default:'' }}</div>
      </div>

      {% include "includes/inc_interactions.html" %}
    </div>

    <div class="work-container">
      <div class="work-title">Комментарии</div>
      {% for comment in item.comments.all %}
        <div class="work-entry">
          <img src="{{ comment.user.get_avatar_url }}" alt="">
          <div class="work-meta">
            <p class="work-text mb-2">{{ comment.text }}</p>
            <small class="work-text">{{ comment.user.first_name }} {{ comment.user.last_name }} • {{ comment.created_at|date:"d.m.Y H:i" }}</small>
          </div>
        </div>
      {% empty %}
        <p>Пока нет комментариев. Будьте первым!</p>
      {% endfor %}
      <!-- # Сюда добавить маршрут до эндпоинта комментов -->
      <form method="post" action="#">
        {% csrf_token %}
        <div class="mb-3">
          <label for="commentText" class="form-label">Добавить комментарий</label>
          <textarea class="form-control" id="commentText" name="text" rows="3" required></textarea>
        </div>
      </form>
    </div>
</div>
{% endblock %}