{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-xl justify-content-center mt-3 p-5">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Email вашего пользователя</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
            <small id="emailHelp" class="form-text text-muted">На неё пришлём вам новый пароль.</small>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Отправить код</button>
    </form>
</div>
{% endblock %}